 .note {
     border: 2px solid #ccc;
     padding: 10px;
     margin: 10px;
     background-color: #f9f9f9;
 }

 /* Estilos CSS para el formateo de texto */
 .bold {
     font-weight: bold;
 }

 .italic {
     font-style: italic;
 }

 ul,
 ol {
     margin-left: 20px;
 }

 #note-content-div {
     border: 2px solid #ccc;
     padding: 10px;
     min-height: 100px;
 }

 .Todos-botones {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .Todos-botones button,
 .button-container button {
     margin-right: 4px;
 }

 img {
    position: relative;
 }

 /* Estilo de las manijas de redimensionamiento */
 .resizable {
     position: relative;
     cursor: move;
 }

 .resizable::before,
 .resizable::after {
     content: "";
     position: absolute;
     width: 8px;
     height: 8px;
     background-color: blue;
 }

 .resizable::before {
     top: -4px;
     left: -4px;
     cursor: nwse-resize;
     /* Manija superior izquierda */
 }

 .resizable::after {
     bottom: -4px;
     right: -4px;
     cursor: nwse-resize;
     /* Manija inferior derecha */
 }

 /* Estilos para los puntos de manipulación */
.resize-handle {
    width: 10px;
    height: 10px;
    background-color: #007bff;
    position: absolute;
    cursor: pointer;
}

